<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
</head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Blog o programowaniu</h2>
        <h3>Autor: Stasiu</h3>
        <h4>Wszelkie prawa zastrzeżone</h4>
    </div>
    <div>
        <p>To jest akapid</p>
        <em>To jest wyrżniony tekst</em><br>
        <strong>To jest pogrubiony tekst</strong><br>
        <a href="https://platforma.strefakursow.pl/platforma/moje_kursy">LINK</a>
    </div>
    <div>
        <ul>
            <li>elementy listy</li>
            <li>elementy listy</li>
            <li>elementy listy</li>
        </ul>
    </div>
</body>
</html>